header{
    background: #F9F7FE;
    text-align: center;
    height: 550px;
}
.header__greeting{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #272142;
    padding-top: 100px;
    margin: 0;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #000000;
    font-size: 96px;
}

 .header_about__me{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #272142;
}
.design-button {
    background-color: #6C63FF;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 46px;
    padding: 5px 20px;
}

.container__p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.work-inquiry{
   font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 46px; 
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.project__description{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    opacity: 70%;
    line-height: 30px;
}
.project__button{
border: 1px solid #6C63FF;
color:#6C63FF;
font-family: 'Poppins', sans-serif;
 font-weight: 400;

}
img{
    width: 560px;
}
.inquiry{
    background-color: #F9F7FE;
    margin: 50px;
    border: solid 1px #F9F7FE;
    border-radius: 15px;
}
.inquiry_p{
    text-align: center;
}
.inquiry_button{
    color:white;
    background-color: #6C63FF;
    padding: 10px 20px;
}

@media(max-width:768px){
    header{
    height: 450px;
    }
    .header__greeting{
        font-size: 20px;
    }
    h1{
        font-size: 36px;
        margin-bottom: 0;
    }
    h2{
        font-size: 38px;
    }
    .container__project, .about-me{
        text-align: center;   
}
.about-me{
    font-size: 500px;
}

}
.about-me__greeting{
     font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    padding: 15px;
}
.wrapper{
    margin: 0 auto;
    max-width: 1160px;
}
.container{
    text-align: center;
    max-height: 550px;   
}
.about-me{
    margin-top: 100px;
}
.about-me__photo{
    width: 300px;
    border-radius: 10%;
}
.about-me__inquiry{
    margin-top: 130px;
}
.container_project_name{
 font-family: 'Poppins', sans-serif;;
font-weight: 700;
font-size: 24px;
padding: 15px;
}